@font-face {
    font-family: "South Park Cyrillic";
    src: url("../fonts/SOUTH_PARK_CYRILLIC.ttf");
}

html {
    background: #f8f8f8;
}

body > h1 {
    font-family: "South Park Cyrillic", serif;
}

.menu > li > a {
    color: olive;
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.menu > li {
    list-style: none;
    display: inline;
    padding-left: 20px;
}

.menu > li a:hover {
    color: #000;
}

h4 {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.shortDescription {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.fullDescription {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.customUl {
    list-style: none url("../images/marker2.png");
}

.customUl > li {
    font-family: "Comic Sans MS", sans-serif;
    line-height: 20px;
}

.formCss {
    width: 300px;
}

.formCss > label {
    display: inline-block;
    text-align: right;
    width: 130px;
}

.block > input {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    font-style: italic;
    font-size: 12px;
    color: #3b67df;
}

.block > label {
    display:inline-block;
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
    font-size: 16px;
}

textarea#letter {
    padding-bottom: 10px;
    font-size: 12px;
    color: #3b67df;
    width: 310px;
}

.borderedImg {
    border : 1px solid olive;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.borderedImg:hover {
    border-color: transparent;
}

.header {
    height: 100px;
    position: relative;
}

.header > img {
    float: left;
}

.header > ul {
    position: absolute;
    top: 25%;
    left: 100px;
}

.footer {
    position: relative;
    bottom: 5px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    background-color: #eaeaea;
    height: 50px;
}

.footer > span {
    position: absolute;
    top: 20px;
}

#email:focus {
    background-color: #3b67df;
    color: #ffff00;
}

#feedback input {
    text-transform: capitalize;
}

.characteristics {
    border: 1px solid black;
    border-collapse: collapse;
}

.characteristics tr, td {
    border: 1px solid black;
}

p::first-letter {
    font-size: 20px;
    color: #1e90ff;
}

.example {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.example tr:first-child {
    height: 50px;
}