@font-face {
    font-family: "South Park Cyrillic";
    src: url("../fonts/SOUTH_PARK_CYRILLIC.ttf");
}

html {
    background: #f8f8f8;
}

body > h1 {
    font-family: "South Park Cyrillic", serif;
}

.menu ul {
    margin: 0 auto;
}

.menu li > a {
    display: inline-block;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    background-color: #ffc942;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid black;
    opacity: 0.5;
}

.menu li {
    list-style: none;
    display: inline;
}

.menu li a:hover {
    color: #383c74;
    border-color: #383c74;
}

.menu {
    width: 400px;
    float: right;
    padding: 0;
    height: 50px;
    margin-top: 25px;
}

h4 {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.shortDescription {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;

    overflow: hidden;
    padding-left: 10px;
    height: 100%;
    position: relative;
}

.fullDescription {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.customUl {
    list-style: none url("../images/marker2.png");
}

.customUl > li {
    font-family: "Comic Sans MS", sans-serif;
    line-height: 20px;
}

.formCss {
    width: 300px;
}

.formCss > label {
    display: inline-block;
    text-align: right;
    width: 130px;
}

.block > input {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    font-style: italic;
    font-size: 12px;
    color: #3b67df;
}

.block > label {
    display:inline-block;
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
    font-size: 16px;
}

textarea#letter {
    padding-bottom: 10px;
    font-size: 12px;
    color: #3b67df;
    width: 310px;
}

.borderedImg {
    border : 1px solid olive;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.borderedImg:hover {
    border-color: transparent;
}

.header {
    height: 100px;
    position: relative;
    background: url("../images/bg.png");
}

.header > img {
    float: left;
}

.header > ul {
    position: absolute;
    top: 25%;
    left: 100px;
}

.logo {
    margin-left: 20px;
}

.footer {
    position: relative;
    bottom: 5px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    background-color: #eaeaea;
    height: 50px;
}

.footer > span {
    position: absolute;
    top: 20px;
    right: 20px;
}

#email:focus {
    background-color: #3b67df;
    color: #ffff00;
}

#feedback input {
    text-transform: capitalize;
}

.characteristics {
    border: 1px solid black;
    border-collapse: collapse;
}

.characteristics tr, td {
    border: 1px solid black;
}

p::first-letter {
    font-size: 20px;
    color: #1e90ff;
}

.container {
    width: 80%;
    min-height: 600px;
    height: 80%;
    margin: 0 auto;
}

.wrapper {
    float: left;
}

.mainWrapper {
    width: 100%;
    overflow: hidden;
    height: 250px;
}

.buyButton {
    display: inline-block;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    background-color: #ffc942;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid black;
    opacity: 0.5;
    float: right;
    position: relative;
    top: 30%;
    right: 10px;
}

.buyButton:hover {
    color: #383c74;
    border-color: #383c74;
}

.buyButton:active {
    color: #741700;
    border-color: #741700;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flexDiv {
    text-align: center;
    text-wrap: avoid;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    flex-basis: 20%;
}

.example {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.example tr:first-child {
    height: 50px;
}